Repository hmcts/wa-task-management-api, pull requests merged in 2020-12, with the labels that each got.

#92 Fixes role-assignment user with no roles
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-92

#95 CVE-2020-13956
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-95

#94 RWA-221: Renaming camunda artefacts to match LLD
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-94

#98 Bump tomcat version
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-98

#93 Added DB Tasks cleanup after each test
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-93

#97 RWA-253: Fix index.hmtl not being generated on functional test reports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-97

#101 Fix CVE-2020-8908: Update google guava to v30.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-101

#102 added unit tests
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/Classification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariables.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaValueTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/enums/AssigneeEnumTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-102
