Repository hmcts/wa-task-management-api, pull requests merged in 2020-09, with the labels that each got.

#13 Pmd: Cleanup and Re-enable
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/WelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/RootController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/RootControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-13

#11 RWA-117: Added controller advice for exceptions.
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetWelcomeTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ErrorLogger.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ErrorLoggerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-11

#20 RWA-51: /task/{id}
  Jenkinsfile_CNP
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/exceptions/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-20

#21 Task management sequence
  README.md
  task-management-api.png
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-21

#22 Added all initial task management endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-22

#31 Adding initial Open API docs and skeleton entities
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/AssignTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/CamundaTask.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/AssignTaskRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/CamundaTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-31
