Repository hmcts/wa-task-management-api, pull requests merged in 2020-10, with the labels that each got.

#33 Removed Lombok as it is not used and dependabot is trying to upgrade it
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-33

#12 RWA-116-s2s-auth
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-12

#37 Enables stacktrace by default in aat.
  charts/wa-task-management-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-37

#25 RWA-52: POST /task/{task-id}/claim
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  config/checkstyle/checkstyle.xml
  lombok.config
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamundaFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ErrorMessage.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/Builder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/CamundaTask.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/TestType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaExceptionMessage.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaMessage.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaTask.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaTime.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaValue.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/ServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SystemDateProvider.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ErrorMessageTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/CamundaTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/TestTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaMessageTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSendMessageRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaValueTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/exceptions/TestFeignClientException.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SystemDateProviderTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CcdIdGenerator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-25

#32 RWA-134: Open Id Authentication
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/AuthorizationHeadersProvider.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/IdamServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/ConflictException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/IdamService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/IdamServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-32

#44 rwa-166 swagger for task management
  .github/workflows/swagger.yml
  .travis.yml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-44

#39 unclaim task - 53
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/AddLocalVariableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaLocalVariables.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/HistoryVariableInstance.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaLocalVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-39

#38 Rwa 54 complete task
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CompleteTaskVariables.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/DomainObjectsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-38

#45 RWA-156: Smoke Test
  src/smokeTest/java/uk/gov/hmcts/reform/wataskmanagementapi/DemoSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SmokeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-45

#46 reassignee task
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-46

#41 Rwa-50: POST /task(search with info)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/SearchParameters.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaOperators.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaOrQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSearchExpression.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariable.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Assignee.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/CaseData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Location.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaTimeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapperTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-41

#56 Suppress CVE-2020-13943
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-56

#34 Open Id and service to service authentication filters.
  .travis.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.aat.template.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-34

#51 RWA-182: Search API refinement
  config/checkstyle/checkstyle.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/IdamServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamundaFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ErrorMessage.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/SearchParameters.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaOperator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariable.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SearchOperator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SearchParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SearchParameterKey.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Assignee.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/CaseData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Location.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapperTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamundaObjectMapper.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestApiActions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Assertions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-51
