Repository hmcts/wa-task-management-api, pull requests merged in 2021-05, with the labels that each got.

#225 using commont url for document store
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/requests/ccd/case_data.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-225

#198 added scenarios to cover search for completable endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-198

#232 Remove unnecessary dependancies and re-write pojo test
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/request/RoleAssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/request/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/response/GetRoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/AddLocalVariableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/HistoryVariableInstance.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/entities/AccessControlResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/AddLocalVariableRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/HistoryVariableInstanceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-232

#231 Remove unnecessary dependancies and align pact versions
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-231

#228 fix search endpoint api documentation
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SearchParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortingParameter.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-228

#227 RWA-530: Add support for case id in search
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-227

#223 Rwa 483
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LogBookPayloadStrategy.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-223

#234 ignoring cross scripting endpoints
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-234

#237 Pact plugin downgraded to generate Serenity report
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-237

#239 Ignoring security issues on pagination endpoints
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-239

#242 Ignoring security scan issues
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-242
