Repository hmcts/wa-task-management-api, pull requests merged in 2021-09, with the labels that each got.

#325 authorise camunda
  src/main/resources/application.yaml
Labels: stale, ns:wa, prd:wa, rel:wa-task-management-api-pr-325

#324 RWA-705: Added integration test to test new role names
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/services/RoleAssignmentServiceApiTest.java
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/variableextractors/roleAssignmentsResponseNewRoles.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-324

#320 RWA-680 Create new work_types table
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/WorkTypeResource.java
  src/main/resources/db/migration/V1.0.4__init_work_types.sql
  src/main/resources/db/migration/V1.0.5__init_rename_work_type_values.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/WorkTypeResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-320

#327 Task/rwa 663 add test coverage
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/entities/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/ExecutionTypeResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/RequireDbLockException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/CftRepositoryBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-327

#333 RWA-647: Transactions implementation
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/DatabaseConflictException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/GenericServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.0.6__init_executionTypes.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchForCompletableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchWithCriteriaTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-333

#337 RWA-756: Added more test coverage
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/domain/entities/configuration/TaskConfigurationResults.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/main/resources/db/migration/V1.0.7__init_taskRoleAuthorizations.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoRoleAssignmentServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-337

#326 RWA-743 added missing entries to fix the failing nightly build due to…
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-326

#347 Update execution type description
  src/main/resources/db/migration/V1.0.8__update_executionTypes_description.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-347

#350 RWA-809 [SH] Increasing suppress until date for false negative vulner…
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-350

#354 Rwa 592 master rebase final
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/SortQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/main/resources/db/migration/V1.0.9__drop_authorizations_table.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoRoleAssignmentServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-354

#345 Feature/rwa 765 improve db lock
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserIdCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserInfoCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/DatabaseConflictException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-345
