Repository hmcts/wa-task-management-api, pull requests merged in 2021-10, with the labels that each got.

#322 Rwa 666
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/WorkTypeResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/RoleAssignmentServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/WorkType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/WorkTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchForCompletableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchWithCriteriaTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-322

#332 RWA-719 added caffeine cache configuration to cache idam tokens
  .gitignore
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserIdCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserInfoCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/IdamTokenGeneratorCacheTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/IdamService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/idam/IdamTokenGenerator.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-332

#356 RWA-809 [SH] Upgrading version of transitive dependency langtags to r…
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-356

#340 New task query functionality plugin
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/requests/roleAssignment/set-organisational-role-assignment-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestApiActions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-340

#343 RWA-586 Add role access information from HLD
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceAssignTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceCancelTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceClaimTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceCompleteTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceUnClaimTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/integrationTest/resources/scripts/assign_task_data.sql
  src/integrationTest/resources/scripts/cancel_task_data.sql
  src/integrationTest/resources/scripts/complete_task_data.sql
  src/integrationTest/resources/scripts/data.sql
  src/integrationTest/resources/scripts/get_task_data.sql
  src/integrationTest/resources/scripts/task_claim_data.sql
  src/integrationTest/resources/scripts/unclaim_task_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/UnAuthorizedException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/TaskNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchForCompletableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchWithCriteriaTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-343

#378 RWA-847 [SH] Adding required entries to ignore list in audit.json
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-378

#390 correct json annotations to make snake-case by default
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCftTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/InitiateTaskRequestTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/InitiateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/TerminateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskAttribute.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/options/TerminateInfo.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-390

#395 fix CVE-2021-42340
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-395
