Repository hmcts/wa-task-management-api, pull requests merged in 2021-01, with the labels that each got.

#104 Rwa 281
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ServiceMocks.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-104

#108 updated the version to fix vulnerable issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-108

#109 Rwa 230
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/idam/SearchEventAndCase.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/idam/SearchEventAndCaseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-109

#110 Added 500 IT Test for getTask
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-110

#115 Fix test
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-115

#113 Rwa 246
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-113

#119 Sidam-simulator update
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/idam/UserInfo.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-119

#122 Change from port 8090 to 8087
  .env
  Dockerfile
  README.md
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-122

#123 added xui-webapp access
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-123
