Repository hmcts/wa-task-management-api, pull requests merged in 2021-08, with the labels that each got.

#305 Fixes to use the correct default object mapper in integration tests
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/GetRootTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/services/RoleAssignmentServiceApiTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/IdamWebApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/RoleAssignmentServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamelCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamundaFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SnakeCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/clients/CcdDataServiceApi.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/IdamServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-305

#313 RWA-694: Add CCD Case document service
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/resources/application.properties
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/documents/notice_of_appeal.pdf
  src/functionalTest/resources/requests/ccd/case_data.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/DocumentUploadClientApiConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestTemplateConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/documents/Document.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/documents/DocumentNames.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DocumentManagementFiles.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DocumentManagementUploader.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/BinaryResourceLoader.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-313

#308 Techdebt/rwa 433
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-308

#315 fix vulnerabilities
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-315

#314 Updated nightly build to run FTs
  Jenkinsfile_nightly
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-314

#316 Feature/rwa 654 caching
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserIdCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/IdamServiceUserInfoCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/IdamTokenGeneratorCacheTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/idam/IdamTokenGenerator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-316

#318 Suppress CVE-2020-23171
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-318

#309 RWA-643 & RWA-646: Implement initiation job and mapping
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/NoteResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/ExecutionType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/ExecutionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-309

#291 RWA-589: Completion / Cancellation Lock transaction and rollback
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TransactionHelper.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-291
