Repository hmcts/wa-task-management-api, pull requests merged in 2021-03, with the labels that each got.

#153 Nightly dev
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-153

#155 RWA-394: Fix Search (Added safe guards)
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-155

#159 Rwa 391 - Handling Unknown values returned from RoleAssignment
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/resources/requests/roleAssignment/set-organisational-role-assignment-request.json
  src/functionalTest/resources/requests/roleAssignment/set-restricted-role-assignment-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/AssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ServiceMocks.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/Assignment.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/Classification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/GrantType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/AssignmentTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-159

#160 fixed 500 and refactoring of endpoint name and snake-casing
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/entities/SearchEventAndCase.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-160

#164 Added caseTypeId permission check
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/AttributesValueVerifier.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/Assignment.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/ActorIdTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/ClassificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/GrantTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/request/RoleAssignmentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/request/RoleRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/response/GetRoleAssignmentResponseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-164

#166 fixed 403 FTs
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-166

#167 Nightly dev
  audit.json
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-167

#168 Rwa 417 - Caching
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/IdamService.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-168

#161 RWA-393: Simplify search for completable to reuse logic and optimization
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-161

#165 Moved secrets for AAT to jenkins file
  Jenkinsfile_nightly
  infrastructure/main.tf
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/IdamServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-165

#158 added launch darkly functional test
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/LaunchDarklyClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/LaunchDarklyFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureTogglerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FeatureToggleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/FeatureToggler.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-158

#170 Bugfix/rwa 415 base location
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAttributeDefinition.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-170

#174 CVE review
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-174

#175 clean up secrets
  Jenkinsfile_nightly
  infrastructure/main.tf
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-175

#176 remove user id equal to task id check
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-176

#181 return if task is added
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-181

#180 RWA-458: Conditional checks based on roles on unclaim endpoint
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/functionalTest/resources/requests/roleAssignment/set-organisational-role-assignment-request.json
  src/functionalTest/resources/requests/roleAssignment/set-restricted-role-assignment-request.json
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/AttributesValueVerifier.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-180

#169 RWA-244: Idam pact test
  .gitignore
  Jenkinsfile_CNP
  README.md
  build.gradle
  docker-pactbroker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootContractBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/idam/IdamConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/idam/IdamConsumerTestForPostToken.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/idam/IdamConsumerTestForPostUserInfo.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/IdamWebApi.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-169
