Repository hmcts/wa-task-management-api, pull requests merged in 2021-07, with the labels that each got.

#272 RWA-639: Add max tasks default of 50 when no pagination max tasks is given
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaQueryBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-272

#274 Fix nightly build failure
  Jenkinsfile_nightly
  security.sh
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-274

#265 RWA-527: API error validation
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/InsufficientPermissionsException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/GenericForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/RoleAssignmentVerificationException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-265

#282 Update JacksonConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-282

#276 Added Hibernates entities for CFT DB
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/resources/application-docker.yaml
  src/integrationTest/resources/scripts/data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/ExecutionTypeResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/NoteResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/BusinessContext.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/ExecutionType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/SecurityClassification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/TaskState.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/TaskSystem.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CustomPostgreSQL94Dialect.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/ExecutionTypeResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/NoteResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/BusinessContextTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/ExecutionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/SecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/TaskStateTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/TaskSystemTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/CftRepositoryBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-276

#285 Update providers on Pact test
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForCreateRoleAssignment.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForDeleteByAssignmentId.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForGetActorById.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-285

#273 Updated searchQuery, completable , getTaskById endpoints to support warnings.
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchForCompletableConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerGetTaskConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-273

#284 RWA-576: Migrate to new role assignment v2 query endpoint, update tests and pact
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForDeleteByRoleAssignmentId.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/ServiceMocks.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/roleassignment/MultipleQueryRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/services/RoleAssignmentServiceApiTest.java
  src/integrationTest/resources/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/roleassignment/queryRequest.json
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/entities/AccessControlResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/request/RoleAssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/response/GetRoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/response/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/RoleAssignmentServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/TaskConfigurationRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/entities/request/MultipleQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/entities/request/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionEvaluatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/response/RoleAssignmentResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskConfigurationCamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/TaskConfigurationRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/entities/request/MultipleQueryRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/domain/entities/configuration/AutoRoleAssignmentResultTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoRoleAssignmentServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-284

#277 RWA-620: Refactor to accomodate for CFT TASK changes
  Jenkinsfile_CNP
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/ccd/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchForCompletableConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/privilege/PrivilegedAccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskConfigurationCamundaServiceBaseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskConfigurationCamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-277

#271 Fix PACT tag to master instead of latest
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/contractTest/resources/logback-test.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-271

#289 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-289

#292 Fix failing pact tests
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerAssignTaskConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/resources/logback-test.xml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/assigntaskcontroller/AssignTaskRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/camunda/AssigneeRequestTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/AssignTaskRequest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-292

#290 Fix provider names
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForCreateRoleAssignment.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForDeleteByRoleAssignmentId.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForGetActorById.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-290

#293 Update pact state
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForGetActorById.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-293

#297 Update tomcat to 9.0.50
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-297

#283 RWA-620: Add Exclusive access endpoints
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/LaunchDarklyClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTerminateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/integrationTest/resources/application-docker.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/CFTTaskState.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/InitiateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/TerminateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskAttribute.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/InitiateTaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TerminateReason.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/options/TerminateInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/CFTTaskStateTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/CftRepositoryBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-283

#302 owasp fix
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-302

#303 Update pact
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForCreateRoleAssignment.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-303

#306 Fix Nightly
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-306

#295 RWA-572: Implement termination job changes
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/EndpointSecurityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/ExecutionTypeResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-295

#301 RWA-571: Remove cft task state variable after task deleted
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTerminateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/HistoryVariableInstance.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestApiActions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Assertions.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-301

#286 RWA-585 Update task configuration to include case management category
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/TaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/utils/CreateTaskVariableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapperTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-286
