Repository hmcts/wa-task-management-api, pull requests merged in 2022-04, with the labels that each got.

#510 feat:RWA-922 Update functional tests for WA case types
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-510

#551 Lazy loading
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskRoleResourceRepository.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-551

#568 RWA-1071 content type investigation
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerCFTTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-568

#571 increasing DB Cores
  config/owasp/suppressions.xml
  infrastructure/perftest.tfvars
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-571

#570 RWA-1071 content type issue fixed
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdRolePermissionsCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerCFTTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerFailureTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/NoteResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/NotesRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/InvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-570

#516 feat: Add additional properties in task(RWA-995 )
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchForCompletableConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerGetTaskConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/domain/entities/camunda/response/ConfigurationDmnEvaluationResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/CaseConfigurationProviderService.java
  src/main/resources/db/migration/V1.0.12__add_additional_properties_in_tasks.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/TaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/CaseConfigurationProviderServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-516

#539 RWA-1171-add-waDummyPostcode
  src/contractTest/resources/json/case_data_map.json
  src/functionalTest/resources/requests/ccd/case_data.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-539

#573 RWA-1297: spring boot upgrade to 2.6.6
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-573

#569 Change IN to Equal in CFT queries for single elements
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskQuerySpecification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/WorkTypeQuerySpecification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskQuerySpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/WorkTypeResourceSpecificationTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-569

#574 RWA-837 add new WA FTs for additional properties
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-574

#572 RWA-1098-autoscaling for R1
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-572

#584 moving db cores from 8 to 16 for perf testing only
  infrastructure/perftest.tfvars
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-584

#583 RWA-1337-Update Pact Tests for WA
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchForCompletableConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerGetTaskConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-583
