Repository hmcts/wa-task-management-api, pull requests merged in 2022-12, with the labels that each got.

#760 update due date using Configuration DMN (RWA-1686)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollectionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/BankHolidaysApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/calendar/BankHolidays.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/calendar/DueDateIntervalData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollection.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-760

#863 Rename request context for available tasks (RWA-2021)
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/RequestContext.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterBoolean.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterList.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterRequestContext.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-863

#877 Resolve local due date issue
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-877

#880 Added calendar into normal code so i can test on PR
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SnakeCaseFeignConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-880

#883 Resolve due date calculation (RWA-2092)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-883

#774 RWA-1656 setting task action attributes for claim endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskClaimByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Assertions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/TestAssertionsBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-774

#781 RWA-1657 added task action attributes for unclaim endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskUnclaimByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-781

#882 Add logs to task configuration process
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-882

#885 RWA-2093 update the audit.json for security scan problem
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-885

#841 Remove old initiation end point, services and tests
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/InitiateTaskRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/newinitiate/InitiateTaskRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/NewCFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-841

#893 RWA 1770 test for spring and autumn
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-893

#887 RWA 1948 Added next and previous
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/calendar/DueDateIntervalData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-887

#898 RWA-2104: Update Task endpoint for 3.5
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterKey.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterRequestContext.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchRequestCustomDeserializer.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterKeyTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchRequestCustomDeserializerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-898
