Repository hmcts/wa-task-management-api, pull requests merged in 2022-03, with the labels that each got.

#513 RWA-1126 Auto-assign task to case role
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetAdminTaskControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetJudicialTaskControllerCFTTest.java
  src/functionalTest/resources/requests/roleAssignment/r2/set-organisational-role-assignment-request-for-admin.json
  src/functionalTest/resources/requests/roleAssignment/r2/set-organisational-role-assignment-request-for-judicial.json
  src/functionalTest/resources/requests/roleAssignment/r2/set-organisational-role-assignment-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/TaskConfigurationRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoRoleAssignmentServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-513

#529 refactor:Supress spring boot vunerabilities
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-529

#526 RWA-982-upgrade
  .github/workflows/swagger.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/entities/SearchEventAndCase.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/OffsetPageableRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/CompleteTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/InitiateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/NotesRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/TerminateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskAttribute.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/options/CompletionOptions.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/options/TerminateInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortingParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterBoolean.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterList.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/TaskPermissions.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Warning.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/WarningValues.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/WorkType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/controllers/TaskConfigurationController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/OffsetPageableRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/exceptions/TestFeignClientException.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-526

#535 RWA-1191 [SH] Updating zap-api scan to point to swagger v3
  security.sh
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-535

#531 refactor:RWA-1108 Clear role assignment after test
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTaskByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetAdminTaskControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetJudicialTaskControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdRolePermissionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetWorkTypesControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-531

#533 RWA-1181-TaskSearchController-refactoring
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariable.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-533

#542 RWA-1199 [SH] Upgrading java chart version
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-542

#540 Avoid hibernate n+1 issue when retrieving Tasks and Task Roles
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-540

#544 update staging memeory
  charts/wa-task-management-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-544

#550 RWA-1223-optional-check-added
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilterTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-550

#552 Ignore Release 1 tests based on non 200 status
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdRolePermissionsCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerCFTTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-552

#556 Adding perftest recommended parameters for db
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-556

#555 Ignore RELEASE 1 test classes
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-555

#554 fix security issues
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-554

#558 RWA-1202 [SH] Fixing swagger doc
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-558

#532 Rwa 659
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-532

#562 Revert "RWA-1071 content type investigation"
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerCFTTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-562

#566 RWA-1265-CVE suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-566

#565 Adding correct product name-2
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-565
