Repository hmcts/wa-task-management-api, pull requests merged in 2022-07, with the labels that each got.

#656 RWA-1572: CVE-2022-34305 supression
  audit.json
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-656

#657 RWA-1580: suppressed CVE-2022-33915 (false positive)
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-657

#658 Add migration timestamp to camunda tasks
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-658

#659 RWA-1591: fixed typo in audit.json
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-659

#661 RWA-1593: Code changes to fix task termination error handling
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-661

#585 RWA-1317 removed disabled tags
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostTaskConfigurationTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-585

#665 RWA-1588: 409 assignment error
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-665

#664 RWA-1605: added various suppressions to zaproxy audit.json
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-664

#626 RWA-1318 Re-visit the TaskManagement FTs locally
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-626

#618 Rwa 1373
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostTaskConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceAssignTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceCancelTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceClaimTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceCompleteTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceUnClaimTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/integrationTest/resources/scripts/ia/data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentTestUtils.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-618

#682 CVE-2022-31569 suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-682

#680 feat: Short tasks by next hearing date (RWA-1384)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/resources/requests/ccd/wa_case_data.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/resources/scripts/wa/get_task_data.sql
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortingParameter.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-680

#681 RWA-1622: Issues wit Cancel/Assign action
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-681

#641 RWA 1410 added fields to search results
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-641

#654 RWA-1369: Sort list of tasks by Priority as Default
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/resources/scripts/ia/data.sql
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/SortQuery.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDao.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/SortQueryTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-654

#686 RWA-1643 Add tests when the user has more authorisation than the task
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceAuthoriseUserTaskTest.java
  src/integrationTest/resources/scripts/authorise_user_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CustomPostgreSQL94Dialect.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-686

#653 RWA-1450 refactor perform operations logic to make it extensible
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerReconfigureTaskConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerReconfigureTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskExecuteReconfigureControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskMarkReconfigureControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskReconfigureControllerCFTTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigureTasksControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/ExecuteReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskOperationService.java
  src/main/resources/db/migration/V1.0.13__add_reconfigure_request_time_in_tasks.sql
  src/main/resources/db/migration/V1.0.17__add_last_reconfigure_time_in_tasks.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MarkTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchForCompletableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/SearchWithCriteriaTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-653

#691 RWA-1450 fixed DB checksum error
  src/main/resources/db/migration/V1.0.13__add_reconfigure_request_time_in_tasks.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-691

#690 RWA-1095 Execute Reconfiguration Happy path
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskExecuteReconfigureControllerCFTTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-690

#607 RWA-1154 - Application insights upgrade to 3.2.11
  Dockerfile
  build.gradle
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/ConfigureTaskService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-607

#606 RWA-817 - change array to list in TaskRoleResource authorizations
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-606
