Repository hmcts/wa-task-management-api, pull requests merged in 2022-11, with the labels that each got.

#808 RWA-1936 Dependabot PRs merge
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-808

#820 CVE fix
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-820

#810 Handle data conflict issue gracefully for duplicate task creation (RWA-1882)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-810

#806 RWA 1544 new PR
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerCFTTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceCompleteTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/ServiceMocks.java
  src/integrationTest/resources/scripts/wa/complete_task_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleAssignmentVerificationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-806

#771 RWA-1848: Added terraform support to renovate
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-771

#811 RWA-1949 Output full jenkins logs
  Jenkinsfile_CNP
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-811

#723 Rwa 1546
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCancelByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-723

#817 Enhance task complete api for camunda call (RWA-1953)
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-817

#800 RWA-1906 improve doc for search endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskSearchQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterKey.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/parameter/SearchParameterKeyTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-800

#814 Rwa 1886
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/Application.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CcdRetryableClient.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-814

#795 RWA-1493-task-types-controller added
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootContractProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskTypeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/TaskTypeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/DecisionTable.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/TaskTypesDmnEvaluationResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/TaskTypesDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskTypeResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/clients/CamundaServiceApi.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/DecisionTableTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskTypeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-795

#850 allow null assignee only for granular permissions feature (RWA-2004)
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-850

#797 RWA-1827 Add IT for reconfiguration service
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/integrationTest/resources/scripts/wa/reconfigure_task_data.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-797

#845 RWA-1790-task-type-cache-structure
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/integrationTest/resources/scripts/wa/reconfigure_task_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-845

#859 Rwa-1790 task type cache for master
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-859

#838 RWA 1768 adding calendar
  src/test/resources/override-working-day-calendar.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-838

#787 Rwa 1889
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/data/RoleAssignmentCreator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/NewCFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-787

#856 RWA-2028 Add ignore line to audit.json
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-856

#821 Rwa 1664 b
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceSearchForCompletableTasksTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/integrationTest/resources/scripts/authorise_user_data.sql
  src/integrationTest/resources/scripts/ia/assign_task_data.sql
  src/integrationTest/resources/scripts/ia/cancel_task_data.sql
  src/integrationTest/resources/scripts/ia/complete_task_data.sql
  src/integrationTest/resources/scripts/ia/data.sql
  src/integrationTest/resources/scripts/ia/get_task_data.sql
  src/integrationTest/resources/scripts/ia/get_task_granular_permission_data.sql
  src/integrationTest/resources/scripts/ia/task_claim_data.sql
  src/integrationTest/resources/scripts/ia/unclaim_task_data.sql
  src/integrationTest/resources/scripts/wa/assign_task_data.sql
  src/integrationTest/resources/scripts/wa/cancel_task_data.sql
  src/integrationTest/resources/scripts/wa/claim_task_data.sql
  src/integrationTest/resources/scripts/wa/complete_task_data.sql
  src/integrationTest/resources/scripts/wa/get_task_data.sql
  src/integrationTest/resources/scripts/wa/get_task_granular_permission_data.sql
  src/integrationTest/resources/scripts/wa/reconfigure_task_data.sql
  src/integrationTest/resources/scripts/wa/search_for_completable_tasks_data.sql
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/integrationTest/resources/scripts/wa/unclaim_task_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/resources/db/migration/V1.0.22__remove_refer_permissions_from_task_roles.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-821

#846 RWA-1692 task type unhappy path
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskTypeProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/validation/CustomizedConstraintViolationException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/tasktype/TaskTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-846

#868 RWA-2061 Dependency check failure for task-management api nightly build failure
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-868

#861 Updating Chart Version
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-861
