Repository hmcts/wa-task-management-api, pull requests merged in 2022-01, with the labels that each got.

#478 RWA-812: Added integration test
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-478

#476 feat:Remove group field (RWA-722)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/utils/CreateTaskMessageBuilder.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaLocalVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaProcessVariablesTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-476

#480 RWA-1017: Updated authorisations 'IA' to numerical value
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerGetTaskRolePermissionsConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdRolePermissionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceAssignTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceCancelTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceClaimTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceCompleteTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceUnClaimTaskTest.java
  src/integrationTest/resources/scripts/assign_task_data.sql
  src/integrationTest/resources/scripts/cancel_task_data.sql
  src/integrationTest/resources/scripts/complete_task_data.sql
  src/integrationTest/resources/scripts/get_task_data.sql
  src/integrationTest/resources/scripts/task_claim_data.sql
  src/integrationTest/resources/scripts/unclaim_task_data.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-480

#481 feat:Filter permissions based on case access category(RWA-924)
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/resources/requests/ccd/wa_case_data.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/domain/entities/camunda/response/PermissionsDmnEvaluationResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/CaseConfigurationProviderService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/DmnEvaluationServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationHeadersProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-481

#483 Fixed swagger for endpoint /roles
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-483

#489 Disable tests
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostConfigureTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/PostTaskConfigurationTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-489

#490 RWA-1031: Improve error messages when verifying role-assignments for assignee and assigner
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-490

#485 Extract permissions union of all role assignments
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdRolePermissionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerCFTTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerCFTTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/data/RoleAssignmentMother.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-485

#486 Add check for when a task already had a assignee
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/entities/TaskRoleResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/auth/role/TaskConfigurationRoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/services/TaskAutoRoleAssignmentServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestApiActions.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-486
