Repository hmcts/wa-task-management-api, pull requests merged in 2023-09, with the labels that each got.

#1157 RWA-2757 tomcat-embed version upgrade
  audit.json
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1157

#1159 RWA-2763: Upgrade Java Logging to 6.0.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1159

#1158 RWA-2722: Updated Renovate config
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1158

#1154 RWA-2712 Delete Task API Modification
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerDeleteTaskProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTasksControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1154

#1147 Rwa 2664 1
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ReplicaBaseTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-replica.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/SubscriptionCreator.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1147

#1163 Use master branch for replica-2
  infrastructure/main.tf
Labels: ns:wa, prd:wa, destroy, rel:wa-task-management-api-pr-1163

#1165 add migration to give Reader user privs
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/dbreplica/migration/V1.0.14__grant_privs_to_reader_user.sql
Labels: ns:wa, prd:wa, enable_keep_helm, rel:wa-task-management-api-pr-1165

#1164 RWA-2744: Update Renovate Config
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1164

#1166 RWA-2638: Test exception correction
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/CleanUpSensitiveLogsService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/CleanUpSensitiveLogsServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1166

#1152 Add SDP read only user to postgres flexible replica
  infrastructure/sdp.tf
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-1152

#1170 RWA-2772: Fixed timing issue with nightly test failures
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1170

#1171 RWA-2816-Remove dependency on docker.io
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1171
