Repository hmcts/wa-task-management-api, pull requests merged in 2023-06, with the labels that each got.

#1105 RWA-2581: CVE Fix
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1105

#1106 Rwa 2581 1
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1106

#1094 Rwa 2382 10
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/TaskAssignmentsRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MIReportingTestingController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/TaskAssignmentsResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskAssignmentsResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/main/resources/dbreplica/migration/V1.0.10__task_assignments_plsql.sql
  src/main/resources/dbreplica/migration/V1.0.11__task_assignments_plsql.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MIReportingTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1094

#1096 Rwa 2305 11
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/ReportableTaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskResource.java
  src/main/resources/dbreplica/migration/V1.0.12__configure_replication_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1096

#1103 RWA-2589 Enhance /search-for-completable logging
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1103

#1099 Rwa 2381
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/ReportableTaskResource.java
  src/main/resources/dbreplica/migration/V1.0.13__configure_replication_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1099

#1102 RWA-2592: Replace swagger.yml
  .github/workflows/publish-openapi.yml
  .github/workflows/swagger.yml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/OpenAPIConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1102

#1115 RWA-2580: suppress CVE
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1115

#1067 Rwa 2219
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskMarkReconfigureControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/UpdateSearchIndexTaskOperationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTSensitiveTaskEventLogsDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1067

#975 RWA-2218-Celan-up-sensitive-logs
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/cleanupsensitivedata/CleanUpSensitiveLogsDataTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTSensitiveTaskEventLogsDatabaseService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-975

#1114 RWA-2514 logging
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/db/PostgreExtendedSQLContainerProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/integrationTest/resources/application-replica.yaml
  src/integrationTest/resources/postgresql.conf
  src/main/resources/application.yaml
  src/main/resources/dbreplica/migration/V1.0.6__reportable_task_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1114
