Repository hmcts/wa-task-management-api, pull requests merged in 2023-03, with the labels that each got.

#970 fix invalid flyway history
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FlywayConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-970

#954 RWA-2215: Add extra query parameters
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceSearchTest.java
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SearchRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProvider.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-954

#961 RWA-2212: Feature Flag - create a new feature flag
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceSearchTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/enums/CFTTaskState.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SearchRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/signature/RoleSignatureBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/signature/SearchFilterSignatureBuilder.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleSignatureBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SearchFilterSignatureBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskAutoRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-961

#955 Handle reconfiguration for multiple entry of a date type (RWA-2297)
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginEarliestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginEarliestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginEarliestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginEarliestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-955

#969 RWA-2216: Update index actions
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskMarkReconfigureControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigureTasksControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkTasksReconfigurableControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationName.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskReconfigurationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-969

#972 RWA-2008 missing integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-972

#945 RWA-2188 setting task action for termination job non standard processes
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTerminateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-945

#985 RWA-2360: Gradle Upgrade to 7.6.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-985

#978 RWA-2332: Perf PoC: Handle DB exceptions for re-indexing
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootContractProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerReconfigureTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/UpdateSearchIndexTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskOperationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/TaskOperationPerformService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskOperationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-978

#977 RWA-2216: Update index actions
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootContractProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerReconfigureTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskMarkReconfigureControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/UpdateSearchIndexTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskOperationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/TaskOperationPerformService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskOperationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-977

#982 RWA-2383 add negative interval calculation
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorForReconfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-982

#981 RWA-2189 added integration tests for intermediate dates
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginEarliestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginRefCalculator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-981

#997 Turn off master syncing and deploy flexible databases
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-997

#1004 Update Swagger publisher
  .github/workflows/swagger.yml
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1004

#987 RWA-2366 Add more log for debugging config dmn issues
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-987

#995 RWA-2418 fixed bug with reconfiguration for calendar standard dates
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorForReconfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-995

#1005 Resolve cve issue
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1005

#1007 Upgrade App insight version
  .github/renovate.json
  Dockerfile
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1007

#989 fix for the perftest issue
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-989

#1009 stop perftest syncing
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1009

#998 RWA-2399: migrate URLs from .internal to .platform.hmcts.net
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-998

#993 RWA-2398 Task Types endpoint not working as specified
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/TaskTypeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceCacheTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/CamundaServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-993
