Repository hmcts/wa-task-management-api, pull requests merged in 2023-07, with the labels that each got.

#1117 RWA-2650: extend the suppress CVE dates
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1117

#1111 RWA-2598: Enabled PACT test
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1111

#1116 RWA-2644: Calculate fields in auto-assign scenario when Task is Initiated
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/resources/dbreplica/migration/V1.0.7__reportable_task_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1116

#991 LAU-574 Create POST /tasks/delete Endpoint
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootContractProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/DeleteTasksByCaseIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTasksControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceCaseQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/DeleteCaseTasksAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/DeleteTasksRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/utils/InputParamsVerifier.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskDeletionService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/DeleteTaskConstants.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/DeleteTasksServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/ResponseEntityBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskDeletionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/DeleteTasksServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/InputParamsVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/ResponseEntityBuilderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-991

#1124 Recreating branch for new PR
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1124

#1119 COT-411: FPL reconfiguration bug fix
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1119

#1129 making MI integration tests consistent
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/ReportableTaskRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/db/FlywayReplicaMigrationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1129

#1135 RWA-2657: mi reporting
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/ReportableTaskResource.java
  src/main/resources/dbreplica/migration/V1.0.8__alter_reportable_task_plsql.sql
  src/main/resources/dbreplica/migration/V1.0.9__reportable_task_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1135

#1131 RWA-2634: Detecting Replication Problems
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ReplicaBaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ReplicationCheckerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/TaskHistoryResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/enums/TaskOperationType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/BaseTaskHistoryResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskHistoryResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ReplicationChecker.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ReplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/TaskOperationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1131
