Repository hmcts/wa-task-management-api, pull requests merged in 2023-04, with the labels that each got.

#1034 rwa 2101 add secrets to vault
  infrastructure/main.tf
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-1034

#1035 RWA 2101 deploy flexible server to master
  infrastructure/main.tf
  infrastructure/variables.tf
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-1035

#1044 rwa 2148 release to prod
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.aat.template.yaml
  charts/wa-task-management-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1044

#1048 turn sync on
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1048

#1049 Revert "Turning off renovate automerge for release MI Release."
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1049

#963 RWA-2312-update functional tests according to R3.5
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/DeleteTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetTaskByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetWorkTypesControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskAssignByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCancelByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskForSearchCompletionControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskMarkReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskUnclaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostUpdateTaskWithNotesControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/TaskTypeControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-963

#999 Handle Test for caching (RWA-2423)
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/CalendarCacheManagerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollectionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidayService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollection.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-999

#1039 Use dmn decision key for caching task types
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceCacheTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1039

#986 Rwa 2272
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceSearchForCompletableTasksTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskRoleGranularPermissionsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-986

#1052 RWA-2485: Available Tasks / My Tasks issue after POC deployed (add mo…
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SearchRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1052

#1050 RWA-2474 remove security.sh
  security.sh
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1050

#1061 RWA added config for replica
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1061

#1055 RWA-2456: Fixing pitest for nightly build. Also reverted unnecessary …
  .github/renovate.json
  build.gradle
  charts/wa-task-management-api/values.preview.template.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1055

#1060 RWA-2495 update ref to master in main.tf
  infrastructure/main.tf
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-1060

#1063 RWA-2497: fixing security scan
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1063

#1066 Rwa 2497
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1066

#1072 RWA-2508: Checking CVE-2023-20863
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1072

#1058 Support ISO 8601 for Date Format (RWA-2493)
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1058

#1070 Rwa 2497
  audit.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1070

#1064 Rwa 2181 update 2
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/TaskHistoryResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskHistoryController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/main/resources/application.yaml
  src/main/resources/dbreplica/migration/V1.0.3__configure_replication_plsql.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1064

#1069 RWA-2506 Update logging in CamundaService
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1069

#1068 RWA-2485: Available Tasks / My Tasks issue after POC deployed
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SortField.java
  src/main/resources/db/migration/V1.0.26__update_performance_index_function.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1068

#1076 flyway scripts take long time to upgrade the search_index
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1076

#1073 RWA-2458: R3.5 Tidy up - Granular permissions TM PACT TESTS
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchForCompletableConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagerGetTaskRolePermissionsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchForCompletablePactTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1073

#1033 RWA-2402-new work types added
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/WorkTypeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetWorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/ServiceMocks.java
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/resources/db/migration/V1.0.27__add_new_work_types.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1033

#1065 RWA-2097 calendar reconfiguration failures
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1065
