Repository hmcts/wa-task-management-api, pull requests merged in 2023-01, with the labels that each got.

#818 RWA-1658 task action attributes for complete endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskClaimByIdControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskUnclaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUnclaimByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Assertions.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/TestAssertionsBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-818

#832 RWA-1682 Autoassignment actions
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigureTasksControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkTasksReconfigurableControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/newinitiate/InitiateTaskDbLockAndTransactionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskActionAttributesBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskAutoAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskReconfigurationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskActionAttributeBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskAutoRoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/NewInitiateTaskTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-832

#851 RWA-1582 TaskAction attributes for Assign endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskAssignByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskActionAttributesBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskActionAttributeBuilderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-851

#852 RWA-1659 task action attributes for cancel endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCancelByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-852

#864 RWA-1957 task action attributes for MarkTasksToreconfigure
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/MarkTasksReconfigurableControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MarkTaskReconfigurationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MarkTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-864

#899 RWA-2108: Error scenarios and clean up of request context for Granula…
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/search/RequestContext.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-899

#890 RWA-1536 - initiationDueDate
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-890

#894 RWA-2057 Updating Gradle Version to 7.6
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-894

#908 RWA-2131 - Fix nightly build faliures
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-908

#807 Rwa 1892
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostClaimByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleAssignmentVerificationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/RoleAssignmentHelper.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-807

#909 RWA-2134 - CVE fix tomcat
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-909

#801 RWA-1496 search by task-type
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskSearchQueryBuilder.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-801

#888 Rwa 1769 2
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollectionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollection.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-888

#892 RWA-1955-remove ia projects from README.md
  README.md
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-892

#871 RWA-1663 task action attributes for warnings
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostUpdateTaskWithNotesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/newinitiate/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/controllers/TaskConfigurationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/enums/TaskAction.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/NewInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-871

#902 RWA 1740 add invalid calendar
  src/integrationTest/resources/calendars/invalid-calendar.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-902

#889 RWA 1740 update
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollectionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/CalendarResourceInvalidException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/CalendarResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollection.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-889

#713 RWA-1712
  Dockerfile
  build.gradle
  config/pmd/ruleset.xml
  gradlew
  gradlew.bat
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigureTasksControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapper.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-713

#884 RWA-1993 fixed issue with reconfiguration request time
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ExecuteTaskReconfigurationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-884

#839 User Total record response header and pagenumber concept of am role a…
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/roleassignment/AmRoleAssignmentServiceConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/wataskconfigurationapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleAssignmentServiceApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/newinitiate/InitiateTaskDbLockAndTransactionTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/clients/RoleAssignmentServiceApi.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/taskconfiguration/clients/CamundaServiceApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentServiceApiTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/NewInitiateTaskTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-839

#866 RWA-2056: Add functional test to cover complete task with granular pe…
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-866

#917 Add adhoc db script (RWA-2068)
  src/main/resources/adhoc.migration/db-migration.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-917

#905 RWA-2044-initial commit for space tolerance for dmn response
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceCacheTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/ConfigurationDmnEvaluationResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/PermissionsDmnEvaluationResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-905
