Repository hmcts/wa-task-management-api, pull requests merged in 2023-10, with the labels that each got.

#1173 RWA-2834- Extend CVE suppression date
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1173

#1174 RWA-2825: Refresh reportable tasks changes
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/resources/dbreplica/migration/V1.0.16__alter_tasks_for_refresh.sql
  src/main/resources/dbreplica/migration/V1.0.17__mark_tasks_for_refresh.sql
  src/main/resources/dbreplica/migration/V1.0.18__get_report_refresh_request_times.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1174

#1180 RWA-2872 Upgrade tomcat to fix new CVE
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1180

#1169 RWA-1838: Downstream Exception Fix
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/GetTaskByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/ServiceMocks.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdviceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1169

#1179 RWA-2855: Test fixes
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1179

#1172 RWA-2745: Added tests to cover special chars
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/DecisionTableTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1172

#1182 RWA-2845 Migrating to Workload Identity
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1182

#1178 Rwa 2827
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/db/MIReplicaDBDao.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/ReportableTaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskAssignmentsResource.java
  src/main/resources/dbreplica/migration/V1.0.19__refresh_report_tasks.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1178

#1183 Rwa 2858
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/resources/dbreplica/migration/V1.0.20__mark_tasks_for_refresh.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1183

#1186 RWA-2910: FIX CVE CVE-2023-35116
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1186
