Repository hmcts/wa-task-management-api, pull requests merged in 2023-02, with the labels that each got.

#878 RWA-2045 permission type validation
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-878

#858 RWA-1964-snake_case
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskForSearchCompletionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamelCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/camunda/CamundaObjectMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-858

#925 RWA-2198: Add task_role manage, claim and own index
  src/main/resources/db/migration/V1.0.23__add_tasks_table_granular_permission_index.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-925

#916 RWA-1683 setting auto terminate action attributes
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/DeleteTerminateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-916

#914 RWA-2076 - remove privileged-access-feature
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-914

#923 RWA-2229 Update dependency hashicorp/terraform to v1.3.7
  infrastructure/.terraform-version
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-923

#924 RWA-2230 Update Helm release java to v4.0.11
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-924

#904 Turn test on
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/CamelCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/SnakeCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PublicHolidaysCollection.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-904

#911 RWA-1965: Calendar enhancements - calculatedDates - Happy path and defaults
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateType.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-911

#936 RWA-2271-privateLaw added to allowed jurisdictions and PRLAPPS added to allowed case types
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-936

#918 Origin ref based date calculator (RWA 1966)
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorForReconfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/entities/calendar/DateTypeIntervalData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateReCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeReCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeReCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicatorTest.java
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-918

#929 RWA-2256 Bump java-jwt from 4.2.0 to 4.2.2
  build.gradle
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-929

#948 RWA-2289 Bump org.owasp.dependencycheck to version 8.1.0
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-948

#951 RWA-2307 wa-task-management-api / Update dependency terraform and Helm
  charts/wa-task-management-api/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-951

#952 Rwa 2148 2 replica preview
  charts/wa-task-management-api/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.0.24__tasks_replica.sql
  src/main/resources/dbreplica/migration/V1.0.3__configure_replication_wal.sql
  src/main/resources/dbreplica/migration/V1.0.6__grant_replication_user_access.sql
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-952

#941 calculate date based on origin latest date attributes (RWA-1977)
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginLatestCalculator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginLatestCalculator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginLatestCalculatorTest.java
Labels: ns:wa, prd:wa, add-or-update, rel:wa-task-management-api-pr-941

#950 RWA-2302 wa-task-management-api / CVE Updates and Fixes
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-950

#949 RWA-2273-remove available tasks only from search parameter
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/TaskManagementGetTasksBySearchCriteriaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskBySearchCriteriaPactTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/ia/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/wa/CftQueryServiceITTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskSearchQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchParameterBoolean.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchParameterKey.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchParameterKeyTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchRequestCustomDeserializerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-949

#946 Validate defaults for all date types (RWA-2000)
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-946

#956 RWA-2323 Bump json-smart from 2.4.7 to 2.4.8
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-956

#940 RWA-2214: Add role signature
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceSearchTest.java
  src/integrationTest/resources/scripts/wa/search_tasks_data.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/Classification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/entities/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/calendar/DueDateIntervalData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SearchRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleSignatureBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SearchFilterSignatureBuilder.java
  src/main/resources/db/migration/V1.0.25__add_performance_indexing.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentTestUtils.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleSignatureBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SearchFilterSignatureBuilderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-940
