Repository hmcts/wa-task-management-api, pull requests merged in 2023-05, with the labels that each got.

#1077 Remove calculated dates from calculated dates output (RWA-2520)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1077

#1079 RWA-2485: Available Tasks / My Tasks issue after POC deployed - incre…
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1079

#1081 Need to deploy to staging first
  charts/wa-task-management-api/values.aat.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1081

#1080 RWA-2485-revert config changes after flyway completed
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.0.28__drop_old_signature_functions.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImplTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1080

#1075 RWA-2461 fixed failing test
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1075

#1091 Rename the Db migration files
  src/main/resources/db/migration/V1.0.27__add_new_work_types.sql
  src/main/resources/db/migration/V1.0.29__add_sensitive_task_event_logs_tables.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1091

#1084 Resolve date calculation for reconfiguration
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorForReconfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1084

#1090 RWA-2552: local-dm-store to be removed from local kube
  src/functionalTest/resources/requests/ccd/case_data.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/documents/Document.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/documents/DocumentNames.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DocumentManagementFiles.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DocumentManagementUploader.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1090

#1093 Rwa 2304
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/main/resources/dbreplica/migration/V1.0.6__init_reportable_fields_db.sql
  src/main/resources/dbreplica/migration/V1.0.7__configure_replication_plsql.sql
  src/main/resources/dbreplica/migration/V1.0.8__task_assignments_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1093

#1092 RWA-2556: Add monitoring code for production problem
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagementGetTaskRolePermissionsTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerAssignTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCancelTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerCompleteTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskManagerUnClaimTaskProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/TaskTypeProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskCompleteByIdControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1092

#1088 RWA 2316 added work types
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/SubscriptionCreator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
  src/main/resources/dbreplica/migration/V1.0.9__init_work_types.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1088

#1098 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1098
