Repository hmcts/wa-task-management-api, pull requests merged in 2024-03, with the labels that each got.

#1233 RWA-2902
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/db/MIReplicaDBDao.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ReplicaBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/replicarepository/ReplicaTaskResourceRepository.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/db/ReplicaDataSourceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/replica/ReplicaTaskResource.java
  src/main/resources/dbreplica/migration/V1.0.28__drop_get_report_refresh_request_times.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/replica/ReplicaTaskResourceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1233

#1226 RWA-3120: Whitelist PRIVATELAW_ExceptionRecord in PROD
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1226

#1220 RWA-3142: Handling Next Hearing Dates
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1220

#1231 Rwa 3103 Reconfiguration fixes
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
Labels: ns:wa, prd:wa, DO-NOT-MERGE, rel:wa-task-management-api-pr-1231

#1235 RWA-3166 reconfigure task title
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1235

#1238 RWA-3142 added a condition to not add additionalProperties if not con…
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1238

#1237 RWA-2828: Exception handling and/or log of errors
  src/main/resources/dbreplica/migration/V1.0.29__reportable_task_plsql.sql
  src/main/resources/dbreplica/migration/V1.0.30__task_history_plsql.sql
  src/main/resources/dbreplica/migration/V1.0.31__task_assignments_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1237

#1242 RWA-3173: MI Reporting fix blanks
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/resources/dbreplica/migration/V1.0.32__task_assignments_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1242

#1244 RWA-3219: Upgrade postgresql
  build.gradle
  charts/wa-task-management-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1244
