Repository hmcts/wa-task-management-api, pull requests merged in 2024-08, with the labels that each got.

#1284 RWA-3593: Extend Suppressions and upgrade dependencycheck and gradle
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1284

#1285 RWA-3563: Fixed Sonar issues
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/restrict/ClientAccessControlService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentSearchData.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskQuerySpecification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDao.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceQueryBuilder.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/Users.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleAssignmentVerificationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskAutoAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1285

#1293 Increasing SKU for performance issue
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1293

#1294 Rwa 3731 performance degradation
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1294

#1292 RWA-3731 LogicalReplicationCreatorScheduler update
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/ReplicaBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/schedulers/LogicalReplicationCreatorScheduler.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1292

#1287 Upgrading Azure AD provider.
  infrastructure/state.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1287
