Repository hmcts/wa-task-management-api, pull requests merged in 2024-02, with the labels that each got.

#1221 RWA-3097 Failure nightly tests
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1221

#1225 RWA-3114: Upgrade Spring-Security-Config
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1225

#1228 RWA-3131: fix flaky tests
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1228

#1230 RWA-3146: address cve suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1230
