Repository hmcts/wa-task-management-api, pull requests merged in 2024-04, with the labels that each got.

#1246 RWA-3223: Extending Suppressions
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1246

#1243 RWA-3187 Correct Task Attributes across Task Initiation & Task Reconf…
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/ReconfigureInputVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskEntityToReconfigureInputVariableDefMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/ReconfigureInputVariableDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskEntityToReconfigureInputVariableDefMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1243

#1249 RWA-3126: spotInstance config added
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1249

#1252 RWA-3188 Add test to validate edge case when additional properties is…
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1252

#1253 RWA-3288 Add a Functional Test to verify PRL scenario works
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1253

#1254 RWA-3215: Whitelist SSCS on prod
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-replica.yaml
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1254
