Repository hmcts/wa-task-management-api, pull requests merged in 2024-10, with the labels that each got.

#1305 Logs to output volume of Role Assignments during search requests.
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1305

#1308 RWA-3814: Code smells fixes
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionRequirementBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1308

#1312 RWA-3880 extend suppression date
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1312

#1315 Rwa 3901 - Low Priority Consistency code issues
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/entities/SearchEventAndCase.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/CleanupSensitiveLogsTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/ExecuteReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/MarkTaskToReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskRolePermissionsResponse.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SortingParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchParameterBoolean.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/parameter/SearchParameterList.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/task/Task.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/task/TaskRolePermissions.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/task/WarningValues.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/Users.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/ResponseEntityBuilder.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdviceTest.java
Labels: ns:wa, prd:wa, keep-helm, enable_keep_helm, rel:wa-task-management-api-pr-1315

#1318 CME-34: Upgrade Java 21
  .github/workflows/publish-openapi.yml
  Dockerfile
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1318

#1323 use constructors for autowire
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/schedulers/LogicalReplicationCreatorScheduler.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1323

#1325 Update CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/ApplicationProblemControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/signature/SearchFilterSignatureBuilder.java
Labels: ns:wa, prd:wa, DO-NOT-MERGE, rel:wa-task-management-api-pr-1325
