Repository hmcts/wa-task-management-api, pull requests merged in 2024-12, with the labels that each got.

#1353 RWA-3185 moved camunda update action just before saving task
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1353

#1352 Suppress CVEs while we wait for Springboot 3 upgrade completion
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1352

#1288 RWA 3193 mandatory fields add new flag part1
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/TaskMandatoryFieldsValidatorIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProvider.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/validation/ServiceMandatoryFieldValidationException.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/JsonParserUtils.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/TaskMandatoryFieldsValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/JsonParserUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/TaskMandatoryFieldsValidatorTest.java
Labels: ns:wa, prd:wa, WIP, rel:wa-task-management-api-pr-1288

#1338 remove unused local variables
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1338

#1358 RWA-3213: Whitelist ST on Prod
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1358

#1331 Rwa 3193 mandatory fileds add validation during initiation
  charts/wa-task-management-api/Chart.yaml
  charts/wa-task-management-api/values.preview.template.yaml
  charts/wa-task-management-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/service/TaskManagementProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/InitiateTaskDbLockAndTransactionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/TaskMandatoryFieldsValidatorIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-replica.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/exceptions/v2/enums/ErrorMessages.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/TaskMandatoryFieldsValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/TaskMandatoryFieldsValidatorTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, enable_keep_helm, rel:wa-task-management-api-pr-1331

#1361 RWA-3193 updated config
  charts/wa-task-management-api/values.aat.template.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/TaskMandatoryFieldsValidator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1361

#1362 RWA-3940 updated config
  charts/wa-task-management-api/values.aat.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskInitiateByIdControllerTest.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1362

#1339 swap expected and returned
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionRequirementBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapperTest.java
Labels: stale, ns:wa, prd:wa, rel:wa-task-management-api-pr-1339

#1364 RWA-4045 add new work types for Civil
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/WorkTypeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetWorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/TaskMandatoryFieldsValidatorIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/resources/db/migration/V1.0.32__add_new_work_types.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1364

#1332 Rwa 3964
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionRequirementBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1332

#1367 Update renovate.json
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1367
