Repository hmcts/wa-task-management-api, pull requests merged in 2024-09, with the labels that each got.

#1296 RWA-3756 - Fix flaky test
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceSearchTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/search/SortField.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProvider.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProviderTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/config/RestApiActions.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1296

#1299 Adding index for case_id on tasks table
  src/main/resources/db/migration/V1.0.31__add_idx_case_id_on_tasks_table.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1299

#1300 RWA-3783 - Fix flaky test
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskCompleteByIdControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/Assertions.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1300

#1298 RWA-3759: Extend Suppressions
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1298

#1279 RWA-3617: Set pgsql_storage_mb
  infrastructure/demo.tfvars
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1279, demo/destroy

#1295 RWA-3601: Add logging
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1295

#1301 RWA-3803 - Fix flaky test
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskSearchControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1301

#1303 RWA-3617: Add pgsql_storage_mb to main.tf
  infrastructure/main.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, demo/destroy, rel:wa-task-management-api-pr-1303

#1302 RWA-3744: DMN reconfig improvement
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1302
