Repository hmcts/wa-task-management-api, pull requests merged in 2024-11, with the labels that each got.

#1326 RWA-3951 - review and updated consistency issues
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/SecurityClassification.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/task/WorkType.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/OffsetPageableRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ReplicationCheckerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1326

#1327 removed public from classes and methods
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/permission/PermissionRequirementBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/RoleAssignmentFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksCompletableResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/WorkTypeResourceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/repository/TaskResourceCustomRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTSensitiveTaskEventLogsDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTSensitiveTaskEventLogsDatabaseServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/RoleSignatureBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SearchFilterSignatureBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskEntityToReconfigureInputVariableDefMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProviderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ReplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/TaskOperationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/UpdateSearchIndexServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/utils/InputParamsVerifierTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1327

#1324 use assertEquals & assertNotEquals
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/tasktype/TaskTypeTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1324

#1330 swap collection.toList toList
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDao.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskSearchSortProvider.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/ExecuteTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/utils/DeleteTasksServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/role/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskDatabaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaHelpers.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1330

#1337 RWA-3976 PowerBi - add the service name for ST_CIC
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReplicaReportingServiceTest.java
  src/main/resources/dbreplica/migration/V1.0.34__reportable_task_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1337

#1345 Added logs for analysis
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDao.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1345

#1333 nosoar on paramatised methods
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/SpecificCaseRoleAssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculatorTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1333

#1347 RWA-3999 do not trim for some fields
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/newinitiate/PostInitiateByIdControllerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-replica.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1347
