Repository hmcts/wa-task-management-api, pull requests merged in 2025-07, with the labels that each got.

#1472 increasing work_mem
  infrastructure/main.tf
Labels: ns:wa, prd:wa, aat/destroy, prod/destroy, rel:wa-task-management-api-pr-1472

#1470 RWA-4521: Added awaitality
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1470

#1467 RWA-4361 Correct Task Attributes across Task Reconfiguration - Integr…
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExecuteReconfigurationTaskOperationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1467

#1473 RWA-4538: Added awaitality to tests
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1473
