Repository hmcts/wa-task-management-api, pull requests merged in 2025-03, with the labels that each got.

#1397 add query_work type
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/WorkTypeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetWorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/resources/db/migration/V1.0.33__add_new_work_types.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
Labels: ns:wa, prd:wa, keep-helm, enable_keep_helm, rel:wa-task-management-api-pr-1397

#1373 Dependabot/gradle/com.launchdarkly launchdarkly java server sdk 7.3.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProvider.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/config/LaunchDarklyFeatureFlagProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1373

#1395 RWA-4020: SpringBootFunctionalBaseTest 503 code Validation
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1395

#1403 Nightly dev
  src/testUtils/java/uk/gov/hmcts/reform/wataskmanagementapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1403

#1399 Add query work to PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/resources/scripts/search_task_work_types.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1399
