Repository hmcts/wa-task-management-api, pull requests merged in 2025-05, with the labels that each got.

#1406 Welsh Translations Work Type
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/consumer/wa/WorkTypeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmanagementapi/provider/WorkTypeProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/GetWorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/PostTaskSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
  src/integrationTest/resources/scripts/search_task_work_types.sql
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/request/SearchTaskRequestMapper.java
  src/main/resources/db/migration/V1.0.34__add_new_work_types.sql
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTWorkTypeDatabaseServiceTest.java
Labels: stale, ns:wa, prd:wa, rel:wa-task-management-api-pr-1406

#1368 RWA-3830: Updated mark-to-reconfig
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationService.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/operation/MarkTaskReconfigurationServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1368

#1385 RWA-3584 changes
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TerminationProcessColumnAdditionTest.java
  src/main/resources/dbreplica/migration/V1.0.35__add_column_termination_process_plsql.sql
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1385

#1430 RWA-4241: Added codeowners file
  CODEOWNERS
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1430

#1431 RWA-4240: Added Security.md file
  SECURITY.md
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1431
