Repository hmcts/wa-task-management-api, pull requests merged in 2025-08, with the labels that each got.

#1479 RWA-4587: Refactored the assertions
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskExecuteReconfigureControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1479

#1468 CME-656 remove not needed CVE suppressions
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1468

#1490 RWA-4657: Refactored test case
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmanagementapi/watasks/controllers/PostTaskReplicationMIControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1490
