Repository hmcts/wa-task-management-api, pull requests merged in 2025-04, with the labels that each got.

#1334 removed duplicated code
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/OffsetPageableRequest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CaseConfigurationProviderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
Labels: stale, ns:wa, prd:wa, rel:wa-task-management-api-pr-1334

#1404 remove public form some tests
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/access/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/auth/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/CftQueryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/WorkTypeResourceSpecificationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/camunda/CamundaObjectMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskTypesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/WorkTypesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DueDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/IntermediateDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/NextHearingDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginEarliestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginLatestCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateOriginRefCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/PriorityDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/WorkingDayIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/AssignTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/ClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/CompleteTaskWithPrivilegeAndCompletionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/GetTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/TerminateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/UnclaimTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1404

#1415 Intermitent test failures
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1415

#1416 RWA-3995 fix code smells - Local variable should not shadow class field
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/cft/query/TaskResourceDaoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/DmnEvaluationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/MIReportingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/taskmanagementservicetests/InitiateTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1416

#1411 Reviewed readme and made some updates.
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1411

#1340 remove container annotations
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/ExclusiveTaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskActionsController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskOperationController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskSearchController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/TaskTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/WorkTypesController.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/SensitiveTaskEventLog.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskResource.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1340

#1418 RWA-3998 fix code smells
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/config/DeleteTaskFeatureToggleInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTaskTypesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksCompletableResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/controllers/response/GetTasksResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/domain/task/TaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementServiceUnitTest.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1418

#1414 RWA-4215: Worktypes pact issue fix
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1414

#1420 RWA-4245 update dueDateTime to dueDate and add a test
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateTypeConfiguratorForReconfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginEarliestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginLatestDateTypeConfiguratorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/OriginRefDateTypeConfiguratorTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/calendar/DateCalculator.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1420

#1413 RWA-4254: LOcal Environment test failure timezone fix
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmanagementapi/services/TaskManagementTimeZoneTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/BaseTaskHistoryResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/ReportableTaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskAssignmentsResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/TaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/entity/replica/ReplicaTaskResource.java
  src/main/java/uk/gov/hmcts/reform/wataskmanagementapi/services/CFTTaskMapper.java
Labels: ns:wa, prd:wa, rel:wa-task-management-api-pr-1413
